#curtains {
  position: absolute;
  width: 100vw;
  /* height: 100vh; */
  animation: var(--transition-time) rainbow-curtains 1 linear;
  z-index: 999;
}

@keyframes rainbow-curtains {
  0%, 5% {
  	height: 100vh;
    background-color: white;
  }
  11% {
    background: linear-gradient(90deg,
                var(--brown) 5%, var(--yellow) 5% 15%, var(--blue) 15% 20%,
                white 20% 80%,
                var(--pink) 80% 90%, var(--turquoise) 90% 96%, var(--coral) 96%
                );
  }
  17%{
    background: linear-gradient(90deg,
                var(--brown) 7%, var(--yellow) 7% 19%, var(--blue) 17% 27%,
                white 27% 70%,
                var(--pink) 70% 84%, var(--turquoise) 84% 94%, var(--coral) 94%
                );
  }
  23% {
    background: linear-gradient(90deg, transparent 3%,
                var(--brown) 3% 10%, var(--yellow) 10% 22%, var(--green) 23%, var(--blue) 23% 34%,
                white 34% 64%,
                var(--pink) 64% 78%, var(--purple) 78% 79%, var(--turquoise) 79% 91%, var(--coral) 91% 97%,
                transparent 97%
                );
  }
  29%{
    background: linear-gradient(90deg, transparent 8%,
                var(--brown) 8% 13%, var(--yellow) 13% 25%, var(--green) 25% 30%, var(--blue) 30% 43%,
                white 43% 49%,
                var(--pink) 49% 63%, var(--purple) 63% 70%, var(--turquoise) 70% 82%, var(--coral) 82% 92%,
                transparent 92%
                );
  }
  35% {
    background: linear-gradient(90deg, transparent 11%,
                var(--brown) 11% 18%, var(--yellow) 18% 27%, var(--green) 27% 35%, var(--blue) 35% 45%,
                var(--pink) 45% 59%, var(--purple) 59% 72%, var(--turquoise) 72% 82%, var(--coral) 82% 89%,
                transparent 89%
                );
  }
  41% {
    background: linear-gradient(90deg, transparent 14%,
                var(--brown) 14% 17%, var(--yellow) 17% 25%, var(--green) 25% 37%, var(--blue) 37% 44%,
                transparent 44% 46%,
                var(--pink) 46% 57%, var(--purple) 57% 74%, var(--turquoise) 74% 81%, var(--coral) 81% 86%,
                transparent 86%
                );
  }
  47% {
    background: linear-gradient(90deg, transparent 17%,
                var(--brown) 17% 18%, var(--yellow) 18% 23%, var(--green) 23% 35%, var(--blue) 35% 40%,
                transparent 40% 50%,
                var(--pink) 46% 57%, var(--purple) 57% 74%, var(--turquoise) 74% 81%, var(--coral) 81% 83%,
                transparent 83%
                );
  }
  53% {
    background: linear-gradient(90deg, transparent 20%,
                var(--brown) 20% 21%, var(--yellow) 21% 23%, var(--green) 23% 34%, var(--blue) 34% 37%,
                transparent 37% 55%,
                var(--pink) 55% 59%, var(--purple) 59% 74%, var(--turquoise) 74% 79%, var(--coral) 79% 80%,
                transparent 80%
                );
  }
  59% {
    background: linear-gradient(90deg, transparent 25%,
                var(--brown) 25% 26%, var(--yellow) 26% 27%, var(--green) 27% 32%, var(--blue) 32% 33%,
                transparent 33% 58%,
                var(--pink) 58% 60%, var(--purple) 60% 71%, var(--turquoise) 71% 74%, var(--coral) 74% 75%,
                transparent 75%
                );
  }
  65% {
    background: linear-gradient(90deg, transparent 28%,
                var(--brown) 28% 29%, var(--yellow) 29%, var(--green) 30% 31%, var(--blue)31% 32%,
                transparent 32% 59%,
                var(--pink) 59% 60%, var(--purple) 60% 69%, var(--turquoise) 69% 71%, var(--coral) 71% 72%,
                transparent 72%
                );
  }
  71% {
    background: linear-gradient(90deg, transparent 30%,
                var(--yellow) 30%, var(--green) 30.5%, white 31%, var(--green) 31.5%, var(--blue)32%,
                transparent 32% 60%,
                var(--pink) 60% 61%, var(--purple) 61% 68%, var(--turquoise) 68% 69%, var(--coral) 69% 70%,
                transparent 70%
                );
  }
  77% {
    background: linear-gradient(90deg, transparent 31%,
                white 31%,
                transparent 32% 61%,
                var(--pink) 61%, var(--purple) 62% 63%, var(--turquoise) 64%, var(--coral) 64% 65%,
                transparent 65%
                );
  }
  83% {
    background: linear-gradient(90deg, transparent 61%,
                var(--pink) 61%, var(--purple) 61.5% , white 62%, var(--purple) 62.5%, var(--turquoise) 62.5%, var(--coral) 63%,
                transparent 63%
                );
  }
  89% {
  	height: 100vh;
    background: linear-gradient(90deg, transparent 61%,
                white 62%,
                transparent 62%
                );
  }
  100% {
  	height: 0;
    background: transparent;
  }
}

@keyframes top-down-curtains {
    0%, 100% {
        background: transparent;
    }
    20% {
        background: linear-gradient(var(--calm-yellow) 10%, transparent 20%, transparent 95%, var(--calm-yellow) 98%);
    }
    40% {
        background: linear-gradient(var(--calm-yellow) 10%, transparent 40%, transparent 92%, var(--calm-yellow) 93%);
    }

    50% {
        background: linear-gradient(var(--calm-yellow) 10%, transparent 60%, transparent 81%, var(--calm-yellow) 83%);
    }

    60% {
        background: linear-gradient(transparent 20%, var(--calm-yellow), var(--calm-yellow), transparent 98%);
    }
    80% {
        background: linear-gradient(transparent 40%, var(--calm-yellow), var(--calm-yellow), transparent 93%);
    }
    95% {
        background: linear-gradient(transparent 78%, var(--calm-yellow) 83%, transparent 87%);
    }
}
