* {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Oxygen', sans-serif;
    /* font-family: 'Noto Sans TC', sans-serif; */
    font-size: 16px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

main {
    background-color: rgb(24, 25, 29);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    margin: 15px auto;
}    
h4, h5 {
    display: inline;
}
h5 {
    color: rgb(136,219,255);
}
p {
    width: 100%;
}

.front-page h1 {
    /* color: magenta; */
    color: rgb(0, 255, 255);
    font-size: 4rem;
}

.container {
    width: 85vw;
    min-width: 250px;

}

/* hero */

#hero {
    height: 95vh;
    /* background-color: rgb(53, 53, 53); */
    background-color: rgb(24, 25, 29);
    display: flex;
    justify-content: center;
    align-items: center;
}
.front-page {
    margin: 20px;
    text-align: center;
}
/* about-me */


/* portfolio */


/* contact */
